<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <div class="container-fluid">


    <%= link_to root_path do %>
  <img class="navbar-logo" src="https://i.imgur.com/rUDF4Dg.png" alt="Logo" />
    <% end %>
    <span class="navbar-title mx-auto">AI News</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav">

        <li>
          <div class="dropdown">

            <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
              <div>

                <%= link_to "Sport", articles_path(category: "sport"), class: "top-drop" %>
                <%= link_to "Tech", articles_path(category: "technology") %>
                <%= link_to "Science", articles_path(category: "science") %>
                <%= link_to "Environment", articles_path(category: "environment") %>
                <%= link_to "Leisure", articles_path(category: "culture") %>
                <%= link_to "Finance", articles_path(category: "business"), class: "bottom-drop" %>

              </div>
            </div>

          </div>
         </li>

        <li class="nav-item dropdown ms-5 d-flex align-items-center">

          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png" />

          <%= user_signed_in? ? render("shared/signed_in") : render("shared/signing_in") %>

        </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
