
<div class = container>
  <h1 id="chat_title"><%= @chat.title %></h1>

  <div id="new_message_container">
    <%= simple_form_for [@chat, @message] do |f| %>
      <%= f.input :content, label: "Ask a question", required: true, placeholder: "How should I get started with the challenge?" %>
      <%= f.button :submit, 'Ask LLM', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div id = "Articles">
    <% @article.each do |art| %>
      <%= art.title %>
      <%= art.author %>
      <% end %>
  </div>
</div>
