<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVvcGxlJTIwY29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D);">
  <div class="container">
    <h1>AI News brings all the news you want in one place</strong>!</h1>
    <p>Sign up now for the best AI curated news.</p>

  </div>
</div>
<div class="container">
<div class="cards">
  <%= link_to articles_path(category: "sport"), class: "card-link" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://st2.depositphotos.com/3725083/10860/i/450/depositphotos_108608722-stock-photo-football-stadium-background.jpg)">
    <p>Sport</p>
  </div>
<% end %>

<%= link_to articles_path(category: "technology"), class: "card-link" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://img.pikbest.com/origin/09/20/88/96SpIkbEsTcJ5.jpg!w700wp)">
    <p>Tech</p>
  </div>
<% end %>

<%= link_to articles_path(category: "science"), class: "card-link" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://i.pinimg.com/736x/6c/d1/42/6cd14204fafbc6b244c3df091d910083.jpg)">
    <p>Science</p>
  </div>
</div>
<% end %>

<div class="cards">
  <%= link_to articles_path(category: "environment"), class: "card-link" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://static.vecteezy.com/system/resources/thumbnails/054/880/166/small/thriving-tree-in-lush-green-environment-nature-conservation-and-protection-concept-free-photo.jpeg)">
    <p>Environment</p>
  </div>
  <% end %>

  <%= link_to articles_path(category: "culture"), class: "card-link" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.wondershare.com/filmora/article-images/music-studio.jpg)">
    <p>Leisure</p>
  </div>
  <% end %>

   <%= link_to articles_path(category: "business"), class: "card-link" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://t3.ftcdn.net/jpg/11/77/89/82/360_F_1177898270_eSAhd1en5i5iHS1OMzX2YRgcTc904w0D.jpg)">
    <p>Finance</p>

  </div>
    <% end %>
</div>
</div>
